volumes:
  keycloak-pg-data:
    name: keycloak-pg-data
    driver: local
  keycloak-pg-preinitdb:
    name: keycloak-pg-preinitdb
    driver: local
  keycloak-pg-initdb:
    name: keycloak-pg-initdb
    driver: local

services:
  employee-service:
    build:
      context: ../employee-service/
      dockerfile: Dockerfile
    restart: unless-stopped
    ports:
      - "8080:8080"
    environment:
      - "JAVA_OPTS=${JAVA_ARGS} -agentlib:jdwp=transport=dt_socket,server=y,suspend=n,address=*:5005"
      - "SPRING_PROFILES_ACTIVE=docker"
    healthcheck:
      test: curl --fail http://localhost:8080/actuator/health || exit 1
      interval: 5s
      retries: 15
      start_period: 20s
      timeout: 10s
    depends_on:
      - keycloak-x
      - kafka
  employee-service-consumer:
    build:
      context: ../employee-service-consumer/
      dockerfile: Dockerfile
    restart: unless-stopped
    ports:
      - "8081:8080"
    environment:
      - "JAVA_OPTS=${JAVA_ARGS} -agentlib:jdwp=transport=dt_socket,server=y,suspend=n,address=*:5005"
      - "SPRING_PROFILES_ACTIVE=docker"
    healthcheck:
      test: curl --fail http://localhost:8080/actuator/health || exit 1
      interval: 5s
      retries: 15
      start_period: 20s
      timeout: 10s
    depends_on:
      - keycloak-x
      - kafka
  mongo:
    image: mongo
    restart: always
    ports:
      - 27017:27017
  keycloak-x-pg:
    container_name: ws-keycloak-x-pg
    image: docker.io/postgres:${KEYCLOAK_POSTGRES_VERSION}
    restart: unless-stopped
    ports:
      - 5432:5432
    environment:
      POSTGRES_DB: ${KEYCLOAK_POSTGRES_DATABASE}
      POSTGRES_USER: ${KEYCLOAK_POSTGRES_USER}
      POSTGRES_PASSWORD: ${KEYCLOAK_POSTGRES_PASSWORD}
    volumes:
      - keycloak-pg-data:/var/lib/postgresql

  keycloak-x:
    container_name: ws-keycloak-x
    image: docker.io/keycloak/keycloak:${KEYCLOAK_VERSION}
    command: ["start-dev", "--import-realm", "--verbose"]
    restart: unless-stopped
    ports:
      - 8081:8080
    healthcheck:
      test: curl --fail http://localhost:8080/ || exit 1
      interval: 5s
      retries: 15
      start_period: 20s
      timeout: 3s
    environment:
      KC_BOOTSTRAP_ADMIN_USERNAME: ${KEYCLOAK_USER}
      KC_BOOTSTRAP_ADMIN_PASSWORD: ${KEYCLOAK_PASSWORD}
      KC_DB_URL: jdbc:postgresql://ws-keycloak-x-pg:5432/${KEYCLOAK_POSTGRES_DATABASE}
      KC_DB: postgres
      KC_DB_USERNAME: ${KEYCLOAK_POSTGRES_USER}
      KC_DB_PASSWORD: ${KEYCLOAK_POSTGRES_PASSWORD}
      KC_HOSTNAME: localhost
    volumes:
      - ./keycloak/import/dev-realm:/opt/keycloak/data/import
#      - ./keycloak/import/master:/opt/keycloak/data/import
#      - ./keycloak/export:/export
    depends_on:
      - keycloak-x-pg
  zookeeper:
    image: wurstmeister/zookeeper
    container_name: zookeeper
    ports:
      - "2181:2181"
  kafka:
    image: wurstmeister/kafka
    container_name: kafka
    ports:
      - "9092:9092"
    depends_on:
      - zookeeper
    environment:
      KAFKA_ADVERTISED_LISTENERS: INSIDE://localhost:9092,OUTSIDE://localhost:9093
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: INSIDE:PLAINTEXT,OUTSIDE:PLAINTEXT
      KAFKA_LISTENERS: INSIDE://0.0.0.0:9092,OUTSIDE://0.0.0.0:9093
      KAFKA_INTER_BROKER_LISTENER_NAME: INSIDE
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_CREATE_TOPICS: "employee-upsert.v1:1:1,employee-deletion.v1:1:1"
